<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Andrew Ghostuhin">
    <link rel="shortcut icon" href="/static/images/favicon.png">


    <title>BlackBox Challenge</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/font-awesome-4/css/font-awesome.min.css">


    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet" />

</head>

<body class="texture">
<div id="cl-wrapper" class="{% block type %}{% endblock %}-container">
    {% block content %}{% endblock %}
</div>


<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery.parsley/dist/parsley.js" type="text/javascript"></script>
<script src="/static/js/behaviour/general.js" type="text/javascript"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/behaviour/voice-commands.js"></script>
<script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.labels.js"></script>
</body>
</html>
