<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Andrew Ghostuhin">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <title>BlackBox Challenge</title>

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap core CSS -->
    <link href="/static/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/fonts/font-awesome-4/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/js/jquery.gritter/css/jquery.gritter.css"/>

    <link rel="stylesheet" type="text/css" href="/static/js/jquery.nanoscroller/nanoscroller.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/jquery.easypiechart/jquery.easy-pie-chart.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.switch/bootstrap-switch.css"/>
    <link rel="stylesheet" type="text/css"
          href="/static/js/bootstrap.datetimepicker/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/jquery.select2/select2.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/bootstrap.slider/css/slider.css"/>
    <link rel="stylesheet" type="text/css" href="/static/js/intro.js/introjs.css"/>
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet"/>
    {% block css %}{% endblock %}

</head>
<body>

<!-- Fixed navbar -->
<div id="head-nav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="fa fa-gear"></span>
            </button>
            <a class="navbar-brand" href="/"><span>BlackBox Challenge</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right user-nav">
                {% if user.is_authenticated %}
                    <li><a>Hi, {{ user.username }}</a></li>
                    <li><a class="btn" style="border: 10px none; margin: -1px;" href="/logout/?next=/">logout</a></li>
                {% else %}
                    <li><a href="/register/">Регистрация</a></li>
                    <li><a href="/login/">Авторизация</a></li>
                {% endif %}
                <!--<li class="dropdown profile_menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="images/avatar2.jpg" /><span>Jeff Hanneman</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Аккаунт</a></li>
                        <li><a href="#">Профайл</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Выход</a></li>
                    </ul>
                </li>-->
            </ul>
        </div>
    </div>
</div>
<!-- Base Header Section -->

<div id="cl-wrapper" class="{% block type %}{% endblock %}-container">
    {% load menu %}{% menu request.path %}
    {% block content %}{% endblock %}
</div>

<!-- Base Footer Section-->

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.gritter/js/jquery.gritter.js"></script>

<script type="text/javascript" src="/static/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
<script type="text/javascript" src="/static/js/behaviour/general.js"></script>
<script src="/static/js/jquery.ui/jquery-ui.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/jquery.sparkline/jquery.sparkline.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easypiechart/jquery.easy-pie-chart.js"></script>
<script type="text/javascript" src="/static/js/jquery.nestable/jquery.nestable.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.switch/bootstrap-switch.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/js/jquery.select2/select2.min.js" type="text/javascript"></script>
<script src="/static/js/skycons/skycons.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.slider/js/bootstrap-slider.js" type="text/javascript"></script>
<script src="/static/js/intro.js/intro.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script type="text/javascript" src="/static/js/jquery.gritter/js/jquery.gritter.js"></script>
{% block js %}{% endblock %}

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">
    $(document).ready(function () {
        //initialize the javascript
        App.init();
        App.dashBoard();

        introJs().setOption('showBullets', false).start();

    });
</script>
<script src="/static/js/behaviour/voice-commands.js"></script>
<script src="/static/js/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.pie.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.resize.js"></script>
<script type="text/javascript" src="/static/js/jquery.flot/jquery.flot.labels.js"></script>
{% if messages %}
    <script type="text/javascript">
        $(document).ready(function () {
            App.init();
            {% for message in messages %}

            /*Gritter Notifications*/
            $.gritter.add({
                title: '{{ message.tags }}',
                text: "{{ message }}",
                time: '10000'
            });
            {% endfor %}

        });
    </script>
{% endif %}
</body>
</html>