{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <a href="/upload/" class="btn btn-success btn-lg pull-right" style="margin-top:10px;">Подать заявку</a>
            <h2>Index</h2>
            <ol class="breadcrumb">
                <li class="active">Main</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <h3 class="text-center">Контент тут</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
