{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <a href="/upload/" class="btn btn-success btn-lg pull-right" style="margin-top:10px;">Подать заявку</a>

            <h2>Главная</h2>
            <ol class="breadcrumb">
                <li><a href="/">Главная</a></li>
                <li class="active">leaderboard</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <div class="header">
                            <h3>Leaders</h3>
                        </div>
                        <div class="content">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="datatable">
                                    <thead>
                                    <tr>
                                        <th style=" width: 1%; ">#</th>
                                        <th>Name</th>
                                        <th>Score</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in leaders %}
                                        <tr class="odd gradeX">
                                            <td style=" width: 1%; ">{{ forloop.counter }}</td>
                                            <td>{{ item.user.username }}</td>
                                            <td>{{ item.score }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
