{% extends "base.html" %}
{% block css %}<link href="/static/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />{% endblock %}
{% block js %}<script src="/static/js/fileinput.min.js" type="text/javascript"></script>{% endblock %}


{% block content %}
    <div class="container-fluid" id="pcont">
        <div class="page-head">
            {#            <a href="/upload/" class="btn btn-success btn-lg pull-right" style="margin-top:10px;">Подать заявку</a>#}
            <h2>Главная</h2>
            <ol class="breadcrumb">
                <li><a href="/">Main</a></li>
                <li class="active">Upload</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="row">
                <div class="col-md-12">
                    <div class="block-flat">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input id="file" multiple="false" type="file" class="file" name="file" allowedFileExtensions="['jpg', 'gif', 'png', 'txt']">
                            {% csrf_token %}
                            {#                    {{ form }}#}
                            {% if complete %}
                                <p class="bg-success">File uploaded.</p>
                            {% endif %}
                            {#                    <input class="btn" type="submit" value="Send"/>#}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}
