{% url 'index.views.index' as index %}
{% url 'index.views.leaderboard' as leaders %}
{% url 'index.views.upload' as upload %}
<div class="cl-sidebar" data-position="right" data-step="1">
{#     data-intro="<strong>Менюшка</strong> <br/> Менюшка выполнена в стиле github">#}
    <div class="cl-toggle"><i class="fa fa-bars"></i></div>
    <div class="cl-navblock">
        <div class="menu-space">
            <div class="content">
                <ul class="cl-vnavigation">
                    <li><a href="/"><i class="fa fa-home"></i><span>Элемент меню</span></a>
                        <ul class="sub-menu">
                            <li{% if path == index %} class="active"{% endif %}><a href="{% url 'index.views.index' %}">Index</a></li>
                            <li{% if path == leaders %} class="active"{% endif %}><a href="{% url 'index.views.leaderboard' %}">Leaders</a></li>
                            <li><a href="/forum/">Forum</a></li>
                            <li{% if path == upload %} class="active"{% endif %}><a href="{% url 'index.views.upload' %}"><span class="label label-primary pull-right">Need login</span>Upload</a></li>
                        </ul>
                    </li>
{#                    <li><a href="#"><i class="fa fa-smile-o"></i><span>Элемент меню</span></a>#}
{#                        <ul class="sub-menu">#}
{#                            <li><a href="/">Элемент меню</a></li>#}
{#                            <li><a href="/">Элемент меню</a></li>#}
{#                            <li><a href="/"><span#}
{#                                    class="label label-primary pull-right">Бейджик</span> Элемент меню</a></li>#}
{#                            <li><a href="/">Элемент нужно</a></li>#}
{#                            <li><a href="/">Элемент заменить</a></li>#}
{#                            <li><a href="/">Элемент на</a></li>#}
{#                            <li><a href="/">Элемент необходимое</a></li>#}
{#                            <li><a href="/">Элемент меню</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li class="text-center"><a style="background: transparent;"><span>Leaderboard</span></a>
                        <ol class="sub-menu text-left" style="display: block; color:#C9D4F6">
                            {% for item in leaderl %}
                                <li><p>{{ item.user.username }} <span style="padding: 0px 5px" class="pull-right">{{ item.score }}</span></p></li>
                            {% endfor %}
                        </ol>
                    </li>
{#                    <div class="table-responsive">#}
{#                        <table class="table table-bordered" id="datatable">#}
{#                            <thead>#}
{#                            <tr>#}
{#                                <th>Name</th>#}
{#                                <th>Score</th>#}
{#                            </tr>#}
{#                            </thead>#}
{#                            <h3>Leaderboard</h3>#}
{#                            <tbody>#}
{#                            {% for item in leaderl %}#}
{#                                <tr class="odd gradeX">#}
{#                                    <td>{{ item.user.username }}</td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                            </tbody>#}
{#                        </table>#}
{#                    </div>#}
{#                    <ol class="sub-menu">#}
{#                        {% for item in leaderl %}#}
{#                        <li><a class="label label-primary text-center">{{ item.user }}</a></li>#}
{#                        {% endfor %}#}
{#                    </ol>#}
                </ul>
            </div>
        </div>
    </div>
</div>