{% extends "base.html" %}
{% block type %}login{% endblock %}
{% block content %}
    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>Sing In</h2>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Sing In</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="middle-login">
                <div class="block-flat">
                    <div class="header">
                        <h3 class="text-center"><img class="logo-img" src="/static/images/logo.png" alt="logo"/>BlackBox
                            Challenge</h3>
                    </div>
                    <div>
                        <form style="margin-bottom: 0px !important;" class="form-horizontal" method="post"
                              action="./?next=/">
                            {% csrf_token %}
                            <div class="content">
                                <h4 class="title">Login Access</h4>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input type="text" placeholder="Username" id="id_username" name="username"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input type="password" placeholder="Password" id="id_password"
                                                   name="password"
                                                   class="form-control">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div style="padding: 0px 10px 0px 10px" id="confirmation-error">
                                {% for error in form.non_field_errors %}
                                    <p class="bg-danger text-center">{{ error }}</p>
                                {% endfor %}
                            </div>
                            <div class="foot">
                                <button class="btn btn-primary" data-dismiss="modal" type="submit">Log me in</button>
                                <span> or </span>
                                <a class="fa fa-twitter fa-2x"
                                   href="{% url 'socialauth_begin' 'twitter' %}?{{ redirect_querystring }}"></a>
                                <a class="fa fa-facebook fa-2x"
                                   href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}"></a>
                                <a class="fa fa-google-plus-square fa-2x"
                                   href="{% url 'socialauth_begin' 'google-oauth2' %}?{{ redirect_querystring }}"></a>
                                <a class="fa fa-vk fa-2x"
                                   href="{% url 'socialauth_begin' 'vk-oauth' %}?{{ redirect_querystring }}"></a>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center out-links"><a href="#">&copy; 2014 BlackBox Challenge</a></div>
            </div>
        </div>
    </div>
{% endblock %}
