{% extends "base.html" %}
{% block type %}sign-up{% endblock %}
{% block content %}
    <div class="container-fluid" id="pcont">
        <div class="page-head">
            <h2>Sing In</h2>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Sing Up</li>
            </ol>
        </div>
        <div class="cl-mcont">
            <div class="middle-sign-up">
                <div class="block-flat">
                    <div class="header">
                        <h3 class="text-center"><img class="logo-img" src="/static/images/logo.png" alt="logo"/>
                            BlackBox Challenge</h3>
                    </div>
                    <div>
                        {{ form.non_field_errors }}
                        <form style="margin-bottom: 0px !important;" class="form-horizontal" action="." method="post"
                              parsley-validate novalidate>
                            {% for field in form.hidden_fields %}
                                {{ field.errors }}
                                {{ field }}
                            {% endfor %}
                            {% csrf_token %}
{#                            <div style="display: none">{{ form.username.errors.0 }}</div>#}
                            <div class="content">
                                <h5 class="title text-center"><strong>Sign Up</strong></h5>
                                <hr/>
                                <div class="form-group text-center">
                                    <a class="fa fa-twitter fa-3x"
                                       href="{% url 'socialauth_begin' 'twitter' %}?{{ redirect_querystring }}"></a>
                                    <a class="fa fa-facebook fa-3x"
                                       href="{% url 'socialauth_begin' 'facebook' %}?{{ redirect_querystring }}"></a>
                                    <a class="fa fa-google-plus-square fa-3x"
                                       href="{% url 'socialauth_begin' 'google-oauth2' %}?{{ redirect_querystring }}"></a>
                                    <a class="fa fa-vk fa-3x"
                                       href="{% url 'socialauth_begin' 'vk-oauth' %}?{{ redirect_querystring }}"></a>
                                    {#                            <div class="col-md-6 col-sm-6 col-xs-6">#}
                                    {#                                <button class="btn btn-block btn-trans btn-facebook bg btn-rad" type="button"><i class="fa fa-facebook"></i> Sign in with Facebook</button>#}
                                    {#                            </div>#}
                                    {#                            <div class="col-md-6 col-sm-6 col-xs-6">#}
                                    {#                                <button class="btn btn-block btn-trans btn-twitter bg btn-rad" type="button"><i class="fa fa-twitter"></i> Sign in with Twitter</button>#}
                                    {#                            </div>#}
                                </div>
                                <p class="text-center">Or</p>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input id="id_username" type="text" name="username" maxlength="30"
                                                   parsley-trigger="change" parsley-error-container="#nick-error"
                                                   required placeholder="Username" class="form-control" value="{{ form.username.value|default_if_none:"" }}">
                                        </div>
                                        <div id="nick-error">
                                            {% if form.username.errors %}
                                                {% for error in form.username.errors %}
                                                    <p class="bg-danger text-center">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                            <input id="id_email" type="email" name="email" parsley-trigger="change"
                                                   parsley-error-container="#email-error" required placeholder="E-mail"
                                                   class="form-control" value="{{ form.value.value|default_if_none:"" }}">
                                        </div>
                                        <div id="email-error">
                                            {% if form.email.errors %}
                                                {% for error in form.email.errors %}
                                                    <p class="bg-danger text-center">{{ error }}</p>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input id="id_password1" type="password" name="password1"
                                                   parsley-error-container="#password-error" placeholder="Password"
                                                   required class="form-control" value="{{ form.password1.value|default_if_none:"" }}">
                                        </div>
                                        <div id="password-error">

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                            <input parsley-equalto="#id_password2" id="id_password2" type="password"
                                                   name="password2" parsley-error-container="#confirmation-error"
                                                   required placeholder="Confirm Password" class="form-control" value="{{ form.password2.value|default_if_none:"" }}">
                                        </div>
                                        <div id="confirmation-error">

                                        </div>
                                    </div>
                                </div>
                                {% if form.password1.errors %}
                                    {% for error in form.password1.errors %}
                                        <p class="bg-danger text-center">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                                {% if form.password2.errors %}
                                    {% for error in form.password2.errors %}
                                        <p class="bg-danger text-center">{{ error }}</p>
                                    {% endfor %}
                                {% endif %}
                                {% for error in form.non_field_errors %}
                                    <p class="bg-danger text-center">{{ error }}</p>
                                {% endfor %}
                                <p class="spacer">By creating an account, you agree with the <a href="#">Terms</a> and
                                    <a href="#">Conditions</a>.</p>
                                <button class="btn btn-block btn-success btn-rad btn-lg" type="submit">Sign Up</button>
{#                                {% for field in form %}#}
{#                                    {% if field.errors %}#}
{#                                        {% for error in field.errors %}#}
{#                                        <p class="bg-danger text-center">{{ error }}</p>#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                {% endfor %}#}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center out-links"><a href="#">&copy; 2014 BlackBox Challenge</a></div>
            </div>
        </div>
    </div>

{% endblock %}
