/* overrides to default admin style */

a:active,
a:focus {
    outline: none;
}
.sidebar-nav {
    padding: 9px 0;
}
.form-group input[type=text] {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 28px;
}
.form-group select {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.controls > p {
    padding-top: 5px;
}
.selector .selector-filter label {
    display: none;
}
.selector h2 {
    font-size: 100%;
    margin: 0;
}
.checkbox{
    padding-bottom: 5px;
}
.checkbox label {
    margin-bottom: -20px;
}
.checkbox .help-block {
    margin-top: 0;
}

fieldset.collapse {
    height: inherit;
}
.add-row {
    margin-bottom: 20px;
}
legend a:hover {
    text-decoration: none;
}

.wide label {
    width: auto !important;
}

/* change_list actions */
.actions select {
    margin-top: 5px;
}

/* change_list table display */
th.action-checkbox-column {
    width: 1.5em;
    text-align:center;
}

td.action-checkbox {
    text-align:center;
}

.tooltip.in {opacity: 1} /* Hard to see against black text otherwise */

#_changelist {clear: both;}

.scrollable-dropdown-menu {
    overflow-x: hidden;
    max-height: 322px;
}

.scrollable-dropdown-menu li form a {
    clear: both;
    color: #333;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}

#content-main {
    clear: both;
}

@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: left;
  }
}
@media (min-width: 970px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}

/* bootstrap 3.2 change */
.checkbox input[type="checkbox"] {
    position: static;
    float: left;
    margin-left: 0px;
    margin-right: 5px;
}

/* admin/css/forms.css makes labels too small */
.control-label label {
    font-size: 14px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
}

#content-navbar-collapse .btn-primary {
    color: #fff;
    padding: 6px 12px;
    margin-top: 8px;
}
